<template>
	<div class="edit">
		<h4 style="align-self: center; margin: 1em">{{ this.project.name }}</h4>
		<div class="edit-info">
			<div class="monome">
				<label for="">Liste par défaut</label>
				<n-select
					v-model:value="this.project.custom_fields[2].value"
					:options="this.get_tasklists()"
				/>
			</div>
			<n-button size="large" @click="this.send()"> Sauvegarder </n-button>
		</div>
	</div>
</template>
<script>
import Configuration from "../config";
import axios from "axios";
import { defineComponent } from "vue";
import { NSelect, NButton } from "naive-ui";
import { toOptions } from "../utils";

export default defineComponent({
	async created() {
		this.teamworkProjects = await this.fetchAllTeamworkProject();
		this.tasklists = await this.fetchProjectTaskLists(
			this.project.custom_fields[0].value
		);
	},
	methods: {
		send: async function () {
			try {
				let result = await axios.put(
					`${Configuration.redmine_api_url}/projects/${this.project.id}.json`,
					{ project: this.project },
					this.axios_rd_param
				);
				this.$emit("success");
			} catch (err) {
				this.error = {
					title: "Impossible de récupérer les projets .",
					content:
						"Nous n'avons pas pu récupérer les projets teamworks, vous n'avez sûrement pas les droit d'accès teamwork.",
				};
				console.warn(err);
				return -1;
			}
		},
		fetchAllTeamworkProject: async function () {
			try {
				let res = await axios.get(
					`${Configuration.teamwork_api_url}/projects.json`,
					this.axios_tw_param
				);
				return res.data.projects;
			} catch (err) {
				this.error = {
					title: "Impossible de récupérer les projets .",
					content:
						"Nous n'avons pas pu récupérer les projets teamworks, vous n'avez sûrement pas les droit d'accès teamwork.",
				};
				console.warn(err);
				return -1;
			}
		},
		fetchProjectTaskLists: async function (id) {
			try {
				let res = await axios.get(
					`${Configuration.teamwork_api_url}/projects/${id}/tasklists.json`,
					this.axios_tw_param
				);
				return res.data.tasklists;
			} catch (err) {
				this.error = {
					title: "Impossible de récupérer les listes de tâches",
					content:
						"Impossible de récupérer la liste des tâches du projet courant",
				};
				console.warn(err);
				return -1;
			}
		},
		get_projects: function () {
			return toOptions(this.teamworkProjects, "name", "id");
		},
		get_tasklists: function () {
			return toOptions(this.tasklists, "name", "id");
		},
	},
	data() {
		return {
			project: this.edit.project,
			teamworkProjects: undefined,
			tasklists: undefined,
		};
	},
	props: {
		edit: Object,
		axios_tw_param: Object,
		axios_rd_param: Object,
	},
	components: {
		NSelect,
		NButton,
	},
});
</script>
<style>
.edit {
	display: flex;
	margin: 1em;
	flex-direction: column;
	color: #555;
}
h4 {
	color: #ea661c;
}
.edit-info {
	display: flex;
	flex-direction: column;
}
.monome {
	display: flex;
	flex: 50%;
}
</style>
