<template>
	<div class="loading">
		<n-skeleton text id="fake-name" />
		<n-skeleton text :repeat="10" class="fake-select" />
	</div>
</template>
<script>
import { NSkeleton } from "naive-ui";
export default {
	components: {
		NSkeleton,
	},
};
</script>
<style>
.loading {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 1em;
}
#fake-name {
	width: 30%;
	margin-bottom: 10px;
}
.fake-select {
	margin-top: 30px;
}
</style>
