<template>
	<div v-if="this.tokenTw && this.tokenRd">
		<Proxy :tokenTw="this.tokenTw" :tokenRd="this.tokenRd" />
	</div>
	<div class="api-key" v-else>
		<span>Entrer votre clé API teamwork</span>
		<n-input
			v-model:value="this.inputTw"
			type="text"
			style="max-width: 40vw"
			:status="
				this.error && this.error.tw_message !== undefined ? 'error' : 'none'
			"
			placeholder="Clé API teamwork"
		/>
		<em
			style="color: rgba(157, 68, 68, 0.87)"
			v-if="this.error && this.error.tw_message !== undefined ? true : false"
			>{{ this.error.tw_message }}</em
		>
		<span style="margin-top: 1em">Entrer votre clé API Redmine</span>
		<n-input
			v-model:value="this.inputRd"
			type="text"
			style="max-width: 40vw; margin-top: 1em"
			:status="
				this.error && this.error.rd_message !== undefined ? 'error' : 'none'
			"
			placeholder="Clé API redmine"
		/>
		<em
			style="color: rgba(157, 68, 68, 0.87)"
			v-if="this.error && this.error.rd_message !== undefined ? true : false"
			>{{ this.error.rd_message }}</em
		>
		<n-button @click="this.check()" style="margin-top: 15px" type="primary">
			vérifier
		</n-button>
	</div>
</template>

<script>
import Proxy from "../components/Proxy.vue";
import axios from "axios";
import Configuration from "../config";
import { NInput, NButton } from "naive-ui";
export default {
	created() {
		chrome.storage.local.get("tokenTw").then((item) => {
			this.tokenTw = item.tokenTw;
		});
		chrome.storage.local.get("tokenRd").then((item) => {
			this.tokenRd = item.tokenRd;
		});
	},
	data() {
		return {
			error: undefined,
			inputTw: "",
			inputRd: "",
			tokenTw: "",
			tokenRd: "",
		};
	},
	methods: {
		check: async function () {
			if (this.inputRd && this.inputTw) {
				this.error = undefined;
				try {
					let res = await axios.get(
						`${Configuration.teamwork_api_url}/me.json`,
						{
							headers: {
								Authorization: `Basic ${btoa(this.inputTw + ":fake")}`,
							},
						}
					);
					chrome.storage.local.set({ tokenTw: this.inputTw });
					this.tokenTw = this.inputTw;
					try {
						let res = await axios.get(
							`${Configuration.redmine_api_url}/users/current.json?key=${this.inputRd}`
						);
						chrome.storage.local.set({ tokenRd: this.inputRd });
						this.tokenRd = this.inputRd;
					} catch (err) {
						this.error = {
							rd_message:
								"La clé fournit est invalide, veuillez vérifier que votre clé est bien valide.",
						};
					}
				} catch (error) {
					this.error = {
						tw_message:
							"La clé fournit est invalide, veuillez vérifier que votre clé est bien valide.",
					};
				}
			}
		},
	},
	components: {
		Proxy,
		NInput,
		NButton,
	},
};
</script>

<style>
.api-key {
	display: flex;
	flex-direction: column;
	background-color: rgb(252, 252, 252);
	color: rgb(61, 61, 61);
	align-items: center;
	padding: 2em;
}
</style>
