<template>
	<Error
		v-if="this.error !== undefined"
		@close-error="this.close_error()"
		:error="this.error"
		:tokenTw="this.tokenTw"
		:tokenRd="this.tokenRd"
	/>
	<transition name="top">
		<Success
			v-if="this.success !== undefined"
			@close-success="this.success = undefined"
			:success="this.success"
		/>
	</transition>
	<div class="proxy">
		<div id="header">
			<p class="user">
				<span id="mail">{{
					this.user === undefined
						? "chargement..."
						: `connecté en tant que : ${this.user.person["user-name"]}`
				}}</span>
			</p>
		</div>
		<div v-show="this.issueId === undefined" class="search" v-once>
			<n-input
				v-model:value="this.issueId"
				type="text"
				placeholder="numéro de l'issue redmine"
				ref="input_text"
				@keyup.enter="this.fetchData()"
			/>
			<n-button @click="this.fetchData()" type="info" dashed>
				rechercher
			</n-button>
		</div>
		<Edit
			v-if="this.edit !== undefined"
			@success="this.success_generic()"
			:edit="this.edit"
			:axios_tw_param="this.axios_tw_param"
			:axios_rd_param="this.axios_rd_param"
		/>
		<div
			v-if="
				this.loading == false &&
				this.teamworkProject !== undefined &&
				this.tasklists !== undefined &&
				this.error == undefined
			"
			class="search-infos"
		>
			<div class="task-infos">
				<div class="task-infos-header">
					<p class="project-name">{{ this.teamworkProject["name"] }}</p>
				</div>
				<n-select
					v-model:value="this.selected_tasklist_id"
					placeholder="Selectionner une liste de tâche"
					:options="this.get_tasklists()"
					:disabled="this.issueExist"
					id="tasklist"
					autosize
				></n-select>
				<n-select
					v-model:value="this.currentTask.id"
					v-if="this.issueExist"
					:disabled="this.issueExist"
					:options="{
						label:
							this.currentTask.content.length > 35
								? this.currentTask.content.substr(0, 35) + '...'
								: this.currentTask.content,
						value: this.currentTask.id,
					}"
				>
				</n-select>
			</div>
			<UpdateTask
				v-if="this.issueExist == true"
				:task="this.currentTask"
				:tw_token="this.tokenTw"
				:task_time="this.currentTaskTime"
				@task-update="this.task_update()"
			/>
			<AddTask
				v-else-if="this.issueExist == false"
				:issue="this.currentIssue"
				:projectUsers="this.teamworkProjectUsers"
				:tasklst="this.currentTaskList"
				:tokenTw="this.tokenTw"
				:tokenRd="this.tokenRd"
				@task-add="this.task_add()"
			/>
		</div>
		<Loading v-else-if="this.loading == true"></Loading>
	</div>
</template>
<script>
import Logo from "../assets/logo-id3i.png";
import axios from "axios";

import Configuration from "../config";

import AddTask from "./AddTask.vue";
import UpdateTask from "./UpdateTask.vue";
import Error from "./Error.vue";
import Success from "./Success.vue";
import Loading from "./Loading.vue";
import Edit from "./Edit.vue";

import * as utils from "../utils.js";

import { defineComponent } from "vue";
import { NSelect, NInput, NGrid, NGi, NButton, NIcon } from "naive-ui";
import { Edit16Regular } from "@vicons/fluent";

export default defineComponent({
	created() {
		axios
			.get("https://id3i.teamwork.com/me.json", {
				headers: {
					Authorization: `Basic ${btoa(this.tokenTw + ":fake")}`,
				},
			})
			.then((res) => {
				this.user = res.data;
			})
			.catch((d) => {
				console.warn(d);
			});
	},
	async mounted() {
		let tabs = await chrome.tabs.query({
			active: true,
			lastFocusedWindow: true,
		});

		for (let tabc of tabs) {
			if (tabc.url.includes("redmine.id3i.fr")) {
				this.tab = tabc;
			}
		}

		if (this.tab.url.includes("/issues/")) {
			let explod = this.tab.url.split("/");
			this.issueId = parseInt(explod[explod.length - 1]);
			this.fetchData();
		} else if (this.tab.url.includes("/projects/")) {
			let explod = this.tab.url.split("/");
			let projectName = explod[explod.length - 1];
			let allprojects = await this.fetchAllRedmineProject();
			for (const prj of allprojects) {
				if (prj.identifier == projectName) {
					this.edit = {
						project: prj,
					};
				}
			}
		}
	},
	data() {
		return {
			Logo,
			tab: undefined,
			issueId: undefined,
			error: undefined,
			loading: undefined,
			success: undefined,
			user: undefined,
			edit: undefined,
			redmineProject: undefined,
			teamworkProject: undefined,
			selected_tasklist_id: "",
			tasklists: undefined,
			tasks: undefined,
			author: undefined,
			issueExist: undefined,
			teamworkProjectUsers: undefined,
			currentIssue: undefined,
			currentTask: undefined,
			currentTaskTime: undefined,
			currentTaskList: undefined,
			axios_rd_param: {
				params: {
					key: this.tokenRd,
				},
			},
			axios_tw_param: {
				headers: {
					Authorization: `Basic ${btoa(this.tokenTw + ":fake")}`,
					"Content-Type": "application/json",
				},
			},
		};
	},
	watch: {
		async selected_tasklist_id(newId, oldId) {
			if (newId !== oldId) {
				this.tasklists.forEach((element) => {
					if (element.id == newId) {
						this.currentTaskList = element;
					}
				});
			}
		},
	},

	methods: {
		fetchData: async function () {
			this.loading = true;
			this.selected_tasklist_id = "";
			this.issueExist = undefined;

			if (!isNaN(this.issueId)) {
				this.currentIssue = await this.fetchRedmineIssue(this.issueId);
				console.log(this.currentIssue);
				if (this.currentIssue == -1) {
					this.loading = false;
					return -1;
				}
				this.author = await this.fetchRedmineUser(this.currentIssue.author.id);
				if (this.author == -1) {
					this.loading = false;
					return -1;
				}
				for (const custom of this.author.custom_fields) {
					if (custom.name == Configuration.user_foreign_key) {
						this.currentIssue.tw_author = custom.value;
					}
				}
				if (this.currentIssue.tw_author == undefined || null) {
					this.error = {
						title: "L'auteur n'a pas son champs ID_USER_TW de configuré",
						content: "Il est nécessaire d'avoir son ID teamwork de configuré",
						code: 3,
						author: this.author,
						users: await this.fetchAllTeamworkUsers(),
					};
					this.loading = false;
					return -1;
				}
				if (this.currentIssue.assigned_to !== undefined) {
					let assigned = await this.fetchRedmineUser(
						this.currentIssue.assigned_to.id
					);
					for (const custom of assigned.custom_fields) {
						if (custom.name == Configuration.user_foreign_key) {
							if (custom.value) {
								this.currentIssue.assigned_to.tw_id = custom.value;
							} else {
								this.error = {
									title: "L'assigné n'a pas son champs ID_USER_TW",
									content:
										"Il est nécessaire d'avoir son ID teamwork de configuré",
									code: 3,
									author: assigned,
									users: await this.fetchAllTeamworkUsers(),
								};
								this.loading = false;
								return -1;
							}
						}
					}
				} else {
					this.currentIssue.assigned_to = {
						tw_id: "0",
					};
				}
				this.formatIssue();

				this.redmineProject = await this.fetchRedmineProject(
					this.currentIssue.project.id
				);

				for (const custom of this.redmineProject.custom_fields) {
					if (custom.name == Configuration.project_foreign_key) {
						if (custom.value) {
							this.teamworkProject = await this.fetchTeamworkProject(
								custom.value
							);
							if (this.teamworkProject == -1) {
								this.error = {
									title: "Impossible de récupérer le projet teamwork.",
									content:
										"L'id du projet redmine n'a pas d'équivalence sur teamwork",
									code: 2,
									project: this.redmineProject,
									projects: await this.fetchAllTeamworkProject(),
								};
								this.loading = false;
								return -1;
							}
						} else {
							this.teamworkProject = undefined;
							this.error = {
								title: "Le champ ID_PROJECT_TW n'est pas valide",
								content:
									"L'id du projet n'a pas été renseigné dans le projet redmine",
								code: 1,
								project: this.redmineProject,
								projects: await this.fetchAllTeamworkProject(),
							};
							this.loading = false;
							return -1;
						}
					}
				}
				this.tasklists = await this.fetchProjectTaskLists(
					this.teamworkProject.id
				);
				if (this.tasklists.length == 0) {
					this.error = {
						title: "Aucune liste de tâches teamwork",
						content:
							"Il est nécessaire d'avoir au moins une liste de tâche présente dans le projet correspondant",
					};
					this.loading = false;
					return -1;
				}
				this.teamworkProjectUsers = await this.fetchTeamworkUsers(
					this.teamworkProject.id
				);

				if (
					this.currentIssue.assigned_to.tw_id !== "0" &&
					!this.assignedIsInProject(this.teamworkProjectUsers)
				) {
					this.currentIssue.assigned_to.tw_id = "-1";
				}
				if (!this.authorIsInProject(this.teamworkProjectUsers)) {
					this.error = {
						title: "L'auteur de la demande n'est pas inscrit",
						content: `L'auteur <b>${
							this.author.firstname.toUpperCase() +
							" " +
							this.author.lastname.toUpperCase()
						}</b> n'est pas inscrit dans le projet teamwork distant : <b>${this.teamworkProject.name.toUpperCase()}</b> ou l'id teamwork de l'utilisateur inscrit n'est pas le bon. <a target="_blank" href="https://id3i.teamwork.com/#/projects/${
							this.teamworkProject.id
						}/tasks/list">accéder au projet</a>`,
						code: 3,
						author: this.author,
						users: await this.fetchAllTeamworkUsers(),
					};
					this.loading = false;
					return -1;
				}
				for (const custom of this.redmineProject.custom_fields) {
					if (custom.name == Configuration.project_default_tasklist) {
						if (custom.value !== null) {
							this.selected_tasklist_id = custom.value;
						} else {
							let result =
								this.tasklists.find((v) =>
									v.name.includes(
										this.currentIssue?.fixed_version?.name.match(
											Configuration.version_regex
										)[0]
									)
								) ||
								this.tasklists.find((v) => v.name.includes(utils.ca_tag)) ||
								this.tasklists.find((v) => v.name.includes(utils.in_tag));
							this.selected_tasklist_id =
								result !== undefined ? result.id : "-1";
						}
					}
				}
				if (await this.teamworkIssueLink()) {
					for (const custom of this.currentIssue.custom_fields) {
						if (custom.name == Configuration.task_foreign_key) {
							if (custom.value !== undefined) {
								this.currentTask = await this.fetchTask(custom.value);
								this.currentTaskList = await this.fetchTaskList(
									this.currentTask["todo-list-id"]
								);
								this.selected_tasklist_id = this.currentTaskList.id;
							}
						}
					}
					this.currentTaskTime = await this.fetchTeamworkTaskTime(
						this.currentTask.id
					);
					this.updateTask(this.currentIssue, this.currentTask.id);
					this.issueExist = true;
					this.loading = false;
				} else {
					this.issueExist = false;
					this.loading = false;
				}
			} else {
				this.error = {
					title: "Vous n'avez pas renseigné un ID valide",
					content: "Veuillez renseigner un entier",
				};
				this.loading = false;
				return -1;
			}
		},
		authorIsInProject: function (users) {
			return users.some(
				(element) => element.id == this.author.custom_fields[0].value
			);
		},
		assignedIsInProject: function (users) {
			return users.some(
				(element) => element.id == this.currentIssue.assigned_to.tw_id
			);
		},
		teamworkIssueLink: async function () {
			for (const custom of this.currentIssue.custom_fields) {
				if (custom.name == Configuration.task_foreign_key) {
					if (custom.value) {
						let res = await this.fetchTask(custom.value);
						if (
							res !== -1 &&
							res.status !== "deleted" &&
							res.status !== "completed"
						) {
							return true;
						} else {
							custom.value = "null";
							let tskmapping = new utils.Mapping(this.currentIssue);
							let result = await axios({
								method: "PUT",
								url: `${Configuration.redmine_api_url}/issues/${this.currentIssue.id}.json?key=${this.tokenRd}`,
								headers: {
									"Content-Type": "application/json",
								},
								data: await tskmapping.format("toRedmineResetID"),
							});
							return false;
						}
					} else {
						return false;
					}
				}
			}
		},
		fetchTeamworkTaskTime: async function (id) {
			try {
				let res = await axios.get(
					`${Configuration.teamwork_api_url}/tasks/${id}/time/total.json`,
					this.axios_tw_param
				);
				return res.data.projects[0].tasklist.task;
			} catch (error) {
				this.error = {
					title: "Impossible de récupérer le temps total",
					content:
						"Nous n'avons pas pu récupérer les temps total de la tâche teamwork",
				};
				console.warn(error);
				return -1;
			}
		},
		fetchRedmineIssue: async function (id) {
			try {
				let res = await axios.get(
					`${Configuration.redmine_api_url}/issues/${id}.json`,
					this.axios_rd_param
				);
				return res.data.issue;
			} catch (err) {
				this.error = {
					title: "Impossible de récupérer la demande redmine",
					content: "Nous n'avons pas pu récupérer l'issue redmine ",
				};
				console.log(err);
				return -1;
			}
		},
		fetchProjectTaskLists: async function (id) {
			try {
				let res = await axios.get(
					`${Configuration.teamwork_api_url}/projects/${id}/tasklists.json`,
					this.axios_tw_param
				);
				return res.data.tasklists;
			} catch (err) {
				this.error = {
					title: "Impossible de récupérer les listes de tâches",
					content:
						"Impossible de récupérer la liste des tâches du projet courant",
				};
				console.warn(err);
				return -1;
			}
		},
		fetchTaskList: async function (id) {
			try {
				let res = await axios.get(
					`${Configuration.teamwork_api_url}/tasklists/${id}.json`,
					this.axios_tw_param
				);
				return res.data["todo-list"];
			} catch (error) {
				this.error = {
					title: "Impossible de récupérer la liste de tâche courante",
					content:
						"Impossible de récupérer la liste de tâche de l'issue spécifié.",
				};
				console.warn(error);
				return -1;
			}
		},
		fetchTask: async function (id) {
			try {
				let res = await axios.get(
					`${Configuration.teamwork_api_url}/tasks/${id}.json`,
					this.axios_tw_param
				);
				return res.data["todo-item"];
			} catch (error) {
				this.error = {
					title: "Impossible de récupérer la tâche courante",
					content: "Impossible de récupérer la tâche de l'issue spécifié.",
				};
				console.warn(error);
				return -1;
			}
		},
		fetchTasks: async function (id) {
			try {
				let res = await axios.get(
					`${Configuration.teamwork_api_url}/tasklists/${id}/tasks.json`,
					this.axios_tw_param
				);
				return res.data["todo-items"];
			} catch (err) {
				this.error = {
					title: "Impossible de récupérer les tâches du projet",
					content:
						"Impossible de récupérer les tâches courantes du projet dans teamwork.",
				};
				console.log(err);
				return -1;
			}
		},
		fetchTeamworkUsers: async function (id) {
			try {
				let res = await axios.get(
					`${Configuration.teamwork_api_url}/projects/${id}/people.json`,
					this.axios_tw_param
				);
				return res.data.people;
			} catch (err) {
				this.error = {
					title:
						"Impossible de récupérer les utilisateurs du projet teamworks.",
					content: "Nous n'avons pas pu récupérer les utilisateurs teamworks",
				};
				console.warn(err);
				return -1;
			}
		},
		fetchTeamworkProject: async function (id) {
			try {
				let res = await axios.get(
					`${Configuration.teamwork_api_url}/projects/${id}.json`,
					this.axios_tw_param
				);
				return res.data.project;
			} catch (err) {
				console.warn(err);
				return -1;
			}
		},
		fetchRedmineUser: async function (id) {
			try {
				let res = await axios.get(
					`${Configuration.redmine_api_url}/users/${id}.json`,
					this.axios_rd_param
				);
				return res.data.user;
			} catch (err) {
				this.error = {
					title: "Impossible de récupérer l'utilisateur redmine.",
					content:
						"Nous n'avons pas pu récupérer l'utilisateur redmine, l'id fournit n'est sûrement pas valide",
				};
				console.warn(err);
				return -1;
			}
		},
		fetchAllTeamworkProject: async function () {
			try {
				let res = await axios.get(
					`${Configuration.teamwork_api_url}/projects.json`,
					this.axios_tw_param
				);
				return res.data.projects;
			} catch (error) {
				this.error = {
					title: "Impossible de récupérer les projets .",
					content: "Nous n'avons pas pu récupérer les projets teamworks",
				};
				console.warn(err);
				return -1;
			}
		},
		fetchAllTeamworkUsers: async function () {
			try {
				let res = await axios.get(
					`${Configuration.teamwork_api_url}/people.json?countOnly=true`,
					this.axios_tw_param
				);
				let count = res.data.count;
				let maxPageSize = 200;
				let iter = Math.ceil(count / maxPageSize);
				let arr = [];
				for (let i = 0; i < iter; i++) {
					let result = await axios.get(
						`${
							Configuration.teamwork_api_url
						}/people.json?pageSize=${maxPageSize}&page=${i + 1}`,
						this.axios_tw_param
					);
					arr = arr.concat(result.data.people);
				}
				return arr;
			} catch (error) {
				this.error = {
					title: "Impossible de récupérer les utilisateurs teamwork .",
					content: "Le token est-il bien spécifié ?",
				};
				console.warn(err);
				return -1;
			}
		},
		fetchRedmineProject: async function (id) {
			try {
				let res = await axios.get(
					`${Configuration.redmine_api_url}/projects/${id}.json`,
					this.axios_rd_param
				);
				return res.data.project;
			} catch (err) {
				this.error = {
					title: "Impossible de récupérer le projet redmine.",
					content: "L'id est sûrement non-valide",
				};
				console.warn(err);
				return -1;
			}
		},
		fetchAllRedmineProject: async function () {
			try {
				let res = await axios.get(
					`${Configuration.redmine_api_url}/projects.json`,
					this.axios_rd_param
				);
				return res.data.projects;
			} catch (err) {
				this.error = {
					title: "Impossible de récupérer tout les projets redmine.",
					content:
						"L'utilitaire n'a pas pu récupérer la liste de tout les projets redmine",
				};
				console.warn(err);
				return -1;
			}
		},
		updateTask: async function (issue, taskid) {
			let mapping = new utils.Mapping(issue);
			let ret = await mapping.format("toTeamwork");
			try {
				let res = await axios({
					url: `${Configuration.teamwork_api_url}/tasks/${taskid}.json`,
					method: "put",
					headers: this.axios_tw_param.headers,
					data: ret,
				});
			} catch (error) {
				console.log(error);
			}
		},
		formatIssue: function () {
			this.currentIssue.description = utils.description_template(
				this.currentIssue.description
			);
			this.currentIssue.subject = utils.subject_template(
				this.currentIssue.tracker.name.charAt(0).toUpperCase() +
					this.currentIssue.tracker.name.substring(1),
				this.currentIssue.id,
				this.currentIssue.subject
			);
		},
		task_add: function () {
			this.success = {
				title: "Votre tâche a été ajouté sur Teamwork",
				content: "Vous pouvez maintenant accéder aux imputation de temps",
			};
			this.fetchData();
		},
		task_update: function () {
			this.success = {
				title: "Votre avez imputé du temps",
				content:
					"Vous avez imputé du temps dans la tâche courante, vous pouvez ré-imputez du temps, autant que nécessaire",
			};
			this.fetchData();
		},
		success_generic: function () {
			this.success = {
				title: "Enregistrement",
				content: "Vos changements ont été enregistré et validé.",
			};
		},
		close_error: function () {
			this.error = undefined;
			this.tasklists = undefined;
			this.teamworkProject = undefined;
			this.fetchData();
		},
		get_tasklists: function () {
			return utils.toOptions(this.tasklists, "name", "id");
		},
	},

	props: {
		tokenTw: String,
		tokenRd: String,
	},
	components: {
		AddTask,
		Edit,
		UpdateTask,
		Error,
		Success,
		Loading,
		NSelect,
		NInput,
		NGrid,
		NGi,
		NButton,
		NIcon,
		Edit16Regular,
	},
});
</script>
<style>
.proxy {
	display: flex;
	color: white;
	flex-direction: column;
	background: rgb(255, 255, 255);
	border-left: 1px solid rgb(165, 165, 165);
}

#header {
	display: flex;
	flex-direction: column;
	justify-items: center;
	background: #467aa7;
}
.search {
	padding: 1em;
	column-gap: 1em;
	display: flex;
}
.user {
	height: 24px;
	text-align: center;
	font-family: Verdana, sans-serif;
	font-size: 11px;
	background: #578bb8;
	color: white;
	border-radius: 2px;
}

.logo-container {
	display: flex;
	justify-content: center;
	height: 80px;
}

.logo {
	padding: 0.5em;
	height: 70px;
	width: auto;
}

.button {
	padding: 1em;
	border-radius: 2px;
	text-align: center;
	color: white;
	font-family: "Roboto", sans-serif;
	font-weight: 700;
	transition: 0.5s all ease;
	cursor: pointer;
	text-transform: uppercase;
	background-color: rgb(255, 255, 255);
	color: #ea661c;
}

.button:hover {
	transition: 0.5s all ease;
	background-color: #ea661c;
	color: white;
}

.search-infos {
	display: flex;
	margin: 1em;
	border-radius: 2px;
	flex-direction: column;
	color: #ea661c;
	background-color: white;
}

.project-name {
	font-weight: 700;
	align-self: center;
	text-transform: uppercase;
	margin-bottom: 10px;
	border-bottom: 5px solid #ea661c;
}

#tasklist {
	margin-bottom: 10px;
}

.task-infos-header {
	display: flex;
	justify-content: space-between;
}

.time {
	display: flex;
	flex-direction: column;
	border-radius: 2px;
	border: 5px solid #ea661c;
}

.time h1 {
	font-size: 1.3em;
	text-align: center;
	color: white;
	padding: 0.5em;
	background-color: #ea661c;
}

.time input {
	padding: 0.4em;
}

label[for^="time"] {
	font-family: "Roboto", sans-serif;
	text-align: center;
	padding: 0 0.4em 0 0.4em;
}

label {
	font-family: "Roboto", sans-serif;
	font-weight: 700;
	padding-bottom: 8px;
	margin-top: 5px;
}

.forms {
	display: flex;
	align-items: center;
	padding: 1em;
}

#task-name {
	font-family: "Roboto", sans-serif;
	border: 1px solid #ea661c;
	color: black;
	padding: 0.4em;
	margin-bottom: 10px;
}

#send {
	padding: 0.4em;
	text-align: center;
	color: white;
	border-radius: 2px;
	font-size: 1em;
	margin-top: 20px;
	font-family: "Roboto", sans-serif;
	font-weight: 700;
	transition: 0.5s all ease;
	cursor: pointer;
	text-transform: uppercase;
	background-color: rgb(156, 12, 12);
}

#send:hover {
	transition: 0.5s all ease;
	background-color: #ea661c;
	color: white;
}

.task-infos {
	display: flex;
	flex-direction: column;
}

select {
	padding: 5px;
}

input[type="number"] {
	padding: 5px;
}

.top-enter-active,
.top-leave-active {
	transition: transform 0.4s ease;
}

.top-enter-to,
.top-leave-from {
	transform: translateY();
}

.top-enter-from,
.top-leave-to {
	transform: translateY(-100vh);
}
</style>
