<template>
	<div class="resolution">
		<h1>Résolution</h1>
		<p>
			<b style="color: rgb(255, 0, 0); font-size: 1.1em"
				>Si l'utilisateur n'est pas inscrit dans le projet distant, il est
				nécessaire de contacter un administrateur teamwork pour assigner
				l'utilisateur au projet teamwork</b
			>
		</p>
		<p>
			Cependant si l'id de l'utilisateur est mal configuré, vous pouvez le
			changer ci-dessous.
		</p>
		<p>
			Configurer l'id teamwork de l'utilisateur :
			<b>{{
				this.error.author.firstname + " " + this.error.author.lastname
			}}</b>
		</p>
		<input
			type="number"
			v-model="this.error.author.custom_fields[0].value"
			id="res-number"
		/>
		<p>Liste des utilisateurs Teamwork :</p>
		<n-select
			class="res-select"
			v-model:value="this.error.author.custom_fields[0].value"
			filterable
			placeholder="Choisir un utilisateur"
			:options="this.users()"
		/>
		<em style="font-size: 0.9em; margin-top: 10px"
			>si l'utilisateur n'est pas présent dans cette liste, celà veut dire qu'il
			n'est pas inscrit sur teamwork</em
		>
		<n-button
			@click="this.updateUser()"
			style="margin-top: 1em"
			strong
			secondary
			type="primary"
		>
			sauvegarder
		</n-button>
	</div>
</template>
<script>
import Configuration from "../../config";
import axios from "axios";
import Success from "../Success.vue";
import { defineComponent } from "vue";
import { NSelect, NButton } from "naive-ui";
import { toOptions } from "../../utils";

export default defineComponent({
	data() {
		return {
			success: undefined,
			token: this.tw_token,
		};
	},
	props: {
		error: Object,
		tokenRd: String,
	},
	methods: {
		updateUser: async function () {
			try {
				await axios({
					url: `${Configuration.redmine_api_url}/users/${this.error.author.id}.json?key=058cccefacb6dbfa9fd851b8ee25fd3f0143dacd`,
					method: "put",
					headers: {
						"Content-Type": "application/json",
					},
					data: { user: this.error.author },
				});
				this.$emit("updated");
			} catch (err) {
				console.log(err);
				return;
			}
		},
		users: function () {
			return toOptions(this.error.users, "full-name", "id");
		},
	},
	components: {
		Success,
		NSelect,
		NButton,
	},
});
</script>
<style>
.top-enter-active,
.top-leave-active {
	transition: transform 0.4s ease;
}
.top-enter-to,
.top-leave-from {
	transform: translateY();
}
.top-enter-from,
.top-leave-to {
	transform: translateY(-100vh);
}
.resolution {
	margin-top: 1.5em;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 1em;
}
.resolution p {
	margin-top: 15px;
}
.res-select {
	width: 100%;
}
#res-number {
	text-align: center;
	outline: none;
	border-radius: 10px;
	border: none;
}
</style>
