@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
* {
	margin: 0;
	padding: 0;
}
html,
body,
#app {
	height: 100%;
	width: 500px;
	font-family: "Roboto", sans-serif;
	box-sizing: border-box;
}
input {
	font-size: 1.1em !important;
}
